<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/user.css')}}"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900,100italic,300italic,400italic,700italic,900italic|Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic|Montserrat' rel='stylesheet' type='text/css'>    <!-- All JavaScript at the bottom, except for Modernizr which enables
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900,100italic,300italic,400italic,700italic,900italic|Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic|Montserrat' rel='stylesheet' type='text/css'>    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
{{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
</head>
<body>
<video autoplay loop muted class="bgvideo" id="bgvideo" >
            <source src="http://ak0.picdn.net/shutterstock/videos/3867593/preview/stock-footage-family-on-their-way-to-summer-holiday.mp4">
        </video>

<div id="nav">
    <tr>
        <td><a href="{{=URL('default','index')}}"><img src="{{=URL('static','images/logo.png')}}" alt="Roadee Logo"></a></td>
        {{if not auth.is_logged_in():}}
            <td>{{=A('Sign Up', _class='signup', _href=URL('default', 'user', args=['register'], vars=dict(_next=URL(args=request.args, vars=request.vars))))}}</td>
            <td>{{=A('Log In', _class='login', _href=URL('default', 'user', args=['login'], vars=dict(_next=URL(args=request.args, vars=request.vars))))}}</td>
        {{pass}}
        {{if auth.is_logged_in():}}
            <td>{{=A('Sign Out', _class='login', _href=URL('default', 'user', args=['logout'], vars=dict(_next=URL(args=request.args, vars=request.vars))))}}</td>
        {{pass}}
    </tr>
</div>
    <div id="auth-form-container" class="flex-column center-aligned">
        <div id="login-greeting" class="form-greeting">
            <h1>{{=T('Your Adventure Starts Here.') if request.args(0) == 'register' else T('Welcome Back') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}</h1>
        </div>
        {{
        if request.args(0)=='login':
        if not 'register' in auth.settings.actions_disabled:
        form.add_button(T('Sign Up'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn btn-default')
        pass
        if not 'request_reset_password' in auth.settings.actions_disabled:
        form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn btn-default')
        pass
        pass
        }}
        {{if request.args(0)=='login':}}
            <div id="register_form_container" class="flex-column full-width">
            {{=form.custom.begin}}
                <div id="homeTown_form" class="form-row">
                    {{=form.custom.widget.email.update(_placeholder="Email")}}
                </div>
                <div id="email_form" class="form-row">
                    {{=form.custom.widget.password.update(_placeholder="Password")}}
                </div>
                <div id="signup-form-button" class="form-row">{{=form.custom.submit}}</div>
            </div>
        {{=form.custom.end}}
        {{pass}}
        {{if request.args(0)=='register':}}
        {{if not auth.is_logged_in():}}
            <div id="register_form_container" class="flex-column full-width">
            {{=form.custom.begin}}
                <div id="names_container" class="flex-row space-between center-aligned form-row">
                    <div id="first_name_form" class="name_field">
                        {{=form.custom.widget.first_name.update(_placeholder="First Name")}}
                    </div>
                    <div id="last_name_form" class="name_field">
                        {{=form.custom.widget.last_name.update(_placeholder="Last Name")}}
                    </div>
                </div>
                <div id="homeTown_form" class="form-row">
                    {{=form.custom.widget.homeTown.update(_placeholder="Hometown")}}
                </div>
                <div id="email_form" class="form-row">
                    {{=form.custom.widget.email.update(_placeholder="Email")}}
                </div>
                <div id="password_container" class="flex-row space-between center-aligned form-row">
                    <div id="password_form" class="password_field">
                        {{=form.custom.widget.password.update(_placeholder="Password")}}
                    </div>
                    <div id="password2_form" class="password_field">
                        {{=form.custom.widget.password_two.update(_placeholder="Confirm Password")}}
                    </div>
                </div>

                <div id="signup-form-button" class="form-row">{{=form.custom.submit}}</div>
            </div>
        {{=form.custom.end}}
        {{pass}}
        {{pass}}

    </div>
</body>
</html>

{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
    {{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
    {{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
    {{pass}}
</script>
{{end page_js}}