<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Roadee - It's a waypoint kinda thing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{=URL('static','css/style.css')}}"/>
</head>

<body>
    <h1>Homepage</h1>
    <h2><a href="{{=URL('default','roadtrip')}}">Go to next page</a></h2>
    <h2>{{if not auth.is_logged_in():}}
			{{=A('Get Started', _class='btn', _id='signup-button', _href=URL('default', 'user', args=['register'], vars=dict(_next=URL('default', 'index'))))}}
            {{=A('Sign In', _class='btn', _id='signin-button', _href=URL('default', 'user', args=['login'], vars=dict(_next=URL(args=request.args, vars=request.vars))))}}
        {{pass}}
        {{if auth.is_logged_in():}}
            {{=A('Sign Out', _class='btn', _id='signout-button', _href=URL('default', 'user', args=['logout'], vars=dict(_next=URL('default', 'index'))))}}
        {{pass}}<h2>
</body>

</html>
