<!DOCTYPE html>
<html>
<head>
    <!--<style type="text/css">-->
      <!--html, body { height: 100%; margin: 0; padding: 0; }-->
      <!--#map { height: 100%; }-->
    <!--</style>-->
    <link rel="stylesheet" href="{{=URL('static','css/roadtrip.css')}}"/>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkK54tO80JNw9dMYg0bUoxyGqG-apvdn4&callback=initAutocomplete&libraries=places"></script>
    <script src="{{=URL('static','js/scripts.js')}}"></script>
</head>

<body>
    <div id="roadTripContainer" class="flex-row">
        <div id="mapContainer">
            <input id="pac-input"></input>
            <div id="map"></div>
        </div>
        <div id="listContainer">
            <ul class="inner-list">
                <li><p class="address-label">Starting Point</p></li>
                <li><input class="address-input" id="pac-input-start"></input></li>
                <li><p class="address-label">Ending Point</p></li>
                <li><input class="address-input" id="pac-input-end"></input></li>
                <li><p class="route-label">Trip Name</p></li>
                <li><input class="route-name-input" id="route-name-input" ></input></li>
                <li><p class="route-label">Trip Type</p></li>
                <li>
                    <select class="route-type-input" id="route-type-input" >
                        <option value="family">Family</option>
                        <option value="romantic">Romantic</option>
                        <option value="adventure">Adventure</option>
                    </select>
                </li>
                <li class="flex-row"><p class="dist-label">Total Trip Distance: </p><p class="dist-text">DIST HERE</p></li>
            </ul>
        </div>
    </div>

</body>

</html>