<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="{{=URL('static','css/style.css')}}"/>


    <!-- include stylesheets -->
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900,100italic,300italic,400italic,700italic,900italic|Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic|Montserrat' rel='stylesheet' type='text/css'>    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    <script src="{{=URL('static','js/helperFunctions.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    <script src="{{=URL('static', 'js/ractive.min.js')}}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkK54tO80JNw9dMYg0bUoxyGqG-apvdn4&callback=initAutocomplete&libraries=places"></script>
    <script src="{{=URL('static','js/scripts.js')}}"></script>
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
</head>

<body>
    <div id="roadTripContainer" class="flex-row">
        <div id="mapContainer">
            <input id="pac-input" />
            <div id="map"></div>
        </div>
        <div class="right-tab">
            <div id="route-target">
            </div>
            <div id="waypoint-target">
            </div>
        </div>
    </div>


</body>

<script id="route-template" type="text/ractive">
        <ul class="inner-list">
            <li><p class="address-label">Starting Point</p></li>
            <li><input class="address-input" id="pac-input-start" /></li>
            <li><p class="address-label">Ending Point</p></li>
            <li><input class="address-input" id="pac-input-end" /></li>
            <li><p class="route-label">Trip Name</p></li>
            <li><input class="route-name-input" id="route-name-input" type="text" name="routeName" value="{% route['routeName'] %}"/></li>
            <li><p class="route-label">Trip Type</p></li>
            <li>
                <select class="route-type-input" id="route-type-input" type="text" name="routeType" value="{% route['routeType'] %}">
                    <option value="Family">Family</option>
                    <option value="Romantic">Romantic</option>
                    <option value="Adventure">Adventure</option>
                </select>
            </li>
            <li class="flex-row"><p class="dist-label">Total Trip Distance: </p><p class="dist-text" type="text" name="totalDistance">{% route['totalDistance'] %}</p></li>
            <li class="flex-row"><p class="dist-label">Total Trip Time: </p><p class="dist-text" type="text" name="totalTime">{% route['totalTime'] %}</p></li>
        </ul>
</script>

<script id="waypoint-template" type="text/ractive">
        <ul class="waypoint-list">
            <li><p class="address-label">Starting Point</p></li>
            <li><input class="address-input" id="pac-input-start" /></li>
            <li><p class="address-label">Ending Point</p></li>
            <li><input class="address-input" id="pac-input-end" /></li>
            <li><p class="route-label">Trip Name</p></li>
            <li><input class="route-name-input" id="route-name-input" type="text" name="routeName" value={% routeName %}/></li>
            <li><p class="route-label">Trip Type</p></li>
            <li>
                <select class="route-type-input" id="route-type-input" type="text" name="routeType" value="{% routeType %}">
                    <option value="family">Family</option>
                    <option value="romantic">Romantic</option>
                    <option value="adventure">Adventure</option>
                </select>
            </li>
            <li class="flex-row"><p class="dist-label">Total Trip Distance: </p><p class="dist-text" type="text" name="totalDistance" value="{% totalDistance %}">DIST HERE</p></li>
            <li class="flex-row"><p class="dist-label">Total Trip Time: </p><p class="time-text" type="text" name="totalTime" value="{% totalTime %}">TIME HERE</p></li>
        </ul>
</script>

<script>
	$(function() {
        // Ractive object
        var BODY = new Ractive({
            el: '#route-target',
            template: '#route-template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                route: {}
            }
        });

        $.ajax("{{=URL('default', 'get_routes_by_user')}}",
                {
                    data: {
                        unique_id: "{{=auth.user_id}}" //request.vars.unique_id
                    },
                    method: 'POST',
                    success: function (data) {
                        BODY.set('route', data);
                        var xhr = new XMLHttpRequest();
                        xhr.open("GET", "http://maps.googleapis.com/maps/api/geocode/json?latlng="+data['startingPointLatitude'].toString()+","+data['startingPointLongitude'].toString(), false);
                        xhr.send();

                        var jsonAPIStart = JSON.parse(xhr.responseText);

                        document.getElementById("pac-input-start").value = jsonAPIStart['results'][0]['formatted_address'];

                        var xhrSecond = new XMLHttpRequest();
                        xhrSecond.open("GET", "http://maps.googleapis.com/maps/api/geocode/json?latlng="+data['endingPointLatitude'].toString()+","+data['endingPointLongitude'].toString(), false);
                        xhrSecond.send();

                        var jsonAPIEnd = JSON.parse(xhrSecond.responseText);

                        console.log("http://maps.googleapis.com/maps/api/geocode/json?latlng="+data['endingPointLatitude'].toString()+","+data['endingPointLongitude'].toString());

                        document.getElementById("pac-input-end").value = jsonAPIEnd['results'][0]['formatted_address'];
                    },
                    error: function (data) {
                        return "Server Error"
                    }
                }
        );
    });
</script>

<script>
	$(function() {
        // Ractive object
        var WAYPOINTS = new Ractive({
            el: '#waypoint-target',
            template: '#waypoint-template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                /*uuid: "",
                startingPointLatitude: "",
                startingPointLongitude:"",
                endingPointLatitude: "",
                endingPointLongitude: "",
                waypointList:"",
                totalDistance:"",
                userID:"",
                routeName:"",
                totalTime:"",
                routeType:""*/
            }
        });

        WAYPOINTS.on("route-type-input", function() {
            $.ajax("{{=URL('default', 'add_waypoint')}}",
					{
						data: {
                            uuid: BODY.get('uuid'),
                            startingPointLatitude: BODY.get('startingPointLatitude'),
                            startingPointLongitude: BODY.get('startingPointLongitude'),
                            endingPointLatitude: BODY.get('endingPointLatitude'),
                            endingPointLongitude: BODY.get('endingPointLongitude'),
                            waypointList: BODY.get('waypointList'),
                            totalDistance: BODY.get('totalDistance'),
                            userID: BODY.get('userID'),
                            routeName: BODY.get('routeName'),
                            totalTime: BODY.get('totalTime'),
                            routeType: BODY.get('routeType')
						},
						method: 'POST',

						success: function(data) {
                            /*if (data == "\"success\"") {
                                alert(data);
                                window.location.href = "{{=URL('default','index')}}";
                            } else if (data == "\"username_failure\"") {
                                BODY.set('username',"");
                                BODY.set('email',"");
                                BODY.set('password',"");
                                alert("Username is already in use");
                            } else {
                                BODY.set('username',"");
                                BODY.set('email',"");
                                BODY.set('password',"");
                                alert("Email address already in use");
                            }*/
						},
						error: function() {
                            alert("An error occurred. Please try again");
                        }
					}
			);
        });
    });
</script>

</html>















  <!--


        <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

    </style>
  </head>
  <body>

    <div id="map"></div>
    <script>
function initMap() {
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer;
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 7,
    center: {lat: 41.85, lng: -87.65}
  });
  directionsDisplay.setMap(map);


  calculateAndDisplayRoute(directionsService, directionsDisplay);
}

var start = "san francisco, ca"
var end = "los angeles, ca"
var waypoint = ["fresno, ca","tranquility, ca"]
function calculateAndDisplayRoute(directionsService, directionsDisplay) {
 	var waypts = [];
  for (var i = 0; i < waypoint.length; i++) {
      waypts.push({
        location: waypoint[i],
        stopover: true
      });
  }

  directionsService.route({
    origin: start,
    destination: end,
	waypoints: waypts,
    optimizeWaypoints: true,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
      var route = response.routes[0];
      var summaryPanel = document.getElementById('directions-panel');
      summaryPanel.innerHTML = '';
      // For each route, display summary information.
      for (var i = 0; i < route.legs.length; i++) {
        var routeSegment = i + 1;
        summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
            '</b><br>';
        summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
        summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
        summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
      }
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHGTR63WtP31io9rx2neXP5_BTiB23pEA&signed_in=true&callback=initMap"
        async defer></script>

        <div id="directions-panel" style="width: 200px; height: 500px; background-color: #000;"></div>

  </body>
</html>-->