/* line 1, ../sass/_main.scss */
html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* line 7, ../sass/_main.scss */
nav {
  margin-top: 20px;
  padding: 0px 15% 0px 15%;
  background-color: #FF9400;
  height: 70px;
}

/* line 14, ../sass/_main.scss */
.content-wrapper {
  padding-bottom: 55px;
  overflow: auto;
}

/* line 19, ../sass/_main.scss */
footer {
  position: relative;
  margin-top: -55px;
  height: 55px;
  clear: both;
}

/* line 26, ../sass/_main.scss */
.orange-bar {
  height: 45px;
  background-color: #FF9400;
  position: relative;
  top: 10px;
}

/* line 33, ../sass/_main.scss */
#wrap {
  min-height: 100%;
}

/* line 37, ../sass/_main.scss */
.title {
  font-size: 38pt;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

/* line 44, ../sass/_main.scss */
.title:hover {
  text-decoration: none;
  color: white;
}

/* line 49, ../sass/_main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
}

/* line 56, ../sass/_main.scss */
.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 63, ../sass/_main.scss */
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 70, ../sass/_main.scss */
.flex-wrap {
  -webkit-flex-wrap: wrap;
}

/* line 74, ../sass/_main.scss */
.space-between {
  justify-content: space-between;
}

/* line 78, ../sass/_main.scss */
.space-around {
  justify-content: space-around;
}

/* line 82, ../sass/_main.scss */
.full-width {
  width: 100%;
}

/* line 86, ../sass/_main.scss */
.center-aligned {
  align-items: center;
  -webkit-align-items: center;
}

/* line 91, ../sass/_main.scss */
.btn {
  border: none;
  background-color: #424242;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  padding: 10px;
  border-radius: 0px;
  margin: 0px;
}

/* line 102, ../sass/_main.scss */
.btn-primary {
  border: none;
  background-color: #424242;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  padding: 10px;
  border-radius: 0px;
  margin: 0px;
}

/* line 113, ../sass/_main.scss */
.btn:hover {
  color: #0097FF;
}

/* line 122, ../sass/_main.scss */
#signin-button {
  background-color: #0097FF;
}

/* line 126, ../sass/_main.scss */
#signin-button:hover {
  color: #424242;
}

/* line 133, ../sass/_main.scss */
#signout-button {
  background-color: red;
}

/* line 137, ../sass/_main.scss */
#signout-button:hover {
  color: #424242;
}

/* line 141, ../sass/_main.scss */
.banner-photo {
  width: 100%;
  height: 450px;
  overflow: hidden;
  color: white;
  font-size: 23pt;
}

/* line 149, ../sass/_main.scss */
.banner-photo img {
  width: 100%;
  margin-top: -85px;
  -webkit-filter: brightness(0.5);
  position: relative;
}

/* line 156, ../sass/_main.scss */
.brightness-fifty {
  -webkit-filter: brightness(0.5);
}

/* line 160, ../sass/_main.scss */
.banner-content {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 6px #000;
}

/* line 166, ../sass/_main.scss */
#index-greeting {
  top: 150px;
  left: 15%;
  width: 30%;
}

/* line 172, ../sass/_main.scss */
#discussion-greeting {
  top: 160px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 50%;
  text-align: center;
}

/* line 182, ../sass/_main.scss */
.banner-title {
  font-size: 36pt;
  margin-bottom: 15px;
}

/* line 187, ../sass/_main.scss */
#index-hello {
  font-size: 36pt;
  margin-bottom: 15px;
}

/* line 192, ../sass/_main.scss */
#search-new-container {
  position: relative;
  top: -50px;
  width: 70%;
  margin: auto;
}

/* line 199, ../sass/_main.scss */
#search-container {
  width: 85%;
  height: 100px;
  background-color: #424242;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* line 208, ../sass/_main.scss */
.search-input {
  width: 80%;
  height: 50px;
  font-size: 16pt;
  font-weight: 200;
  font-style: italic;
  padding-left: 15px;
}

/* line 217, ../sass/_main.scss */
#search-button {
  background-color: #FF9400;
  height: 50px;
  width: 18%;
}

/* line 223, ../sass/_main.scss */
#search-button:hover {
  color: #424242;
}

/* line 227, ../sass/_main.scss */
#new-discussion-container {
  width: 15%;
}

/* line 231, ../sass/_main.scss */
#new-discussion-button {
  height: 100px;
  width: 100%;
  background-color: #0097FF;
  font-size: 16pt;
  white-space: pre-line;
  text-align: center;
  line-height: 120%;
}

/* line 241, ../sass/_main.scss */
#new-discussion-button:hover {
  background-color: #FF9400;
  color: #424242;
}

/* line 246, ../sass/_main.scss */
#discussions-container {
  padding: 0px 15% 0px 15%;
  margin-bottom: 40px;
}

/* line 251, ../sass/_main.scss */
.discussion-thumb {
  height: 190px;
  width: 280px;
  margin: 10px 10px 20px 10px;
  position: relative;
}

/* line 258, ../sass/_main.scss */
.discussion-thumb img {
  -webkit-filter: brightness(0.5);
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* line 266, ../sass/_main.scss */
.discussion-thumb a h2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 5px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 30pt;
  text-shadow: 2px 2px 6px #000;
  text-decoration: none;
}

/* line 284, ../sass/_main.scss */
.discussion-thumb h2:hover {
  font-size: 31pt;
  color: #FF9400;
}

/* line 289, ../sass/_main.scss */
.from-greeting h1 {
  text-align: center;
  color: white;
  font-size: 36pt;
  margin-top: 30px;
}

/* line 296, ../sass/_main.scss */
.form-container {
  background-color: #424242;
  margin: 25px auto 15px auto;
  padding-top: 15px;
  padding-bottom: 0px;
  width: 35%;
}

/* line 304, ../sass/_main.scss */
.form-column {
  width: 100%;
  margin: auto;
  padding: 15px;
}

/* line 310, ../sass/_main.scss */
.form-column form {
  width: 85%;
  margin: auto;
}

/* line 315, ../sass/_main.scss */
.form-row {
  margin: 10px;
  align-items: flex-start;
}

/* line 320, ../sass/_main.scss */
.form-row h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #F7F7F7;
  margin-bottom: 4px;
}

/* line 327, ../sass/_main.scss */
.custom-form {
  width: 100%;
}

/* line 331, ../sass/_main.scss */
#signup-form-button {
  margin: auto;
  text-align: center;
}

/* line 336, ../sass/_main.scss */
#signup-form-button input {
  border: none;
  background-image: none;
  background-repeat: none;
  text-shadow: none;
  box-shadow: none;
  background-color: #0097FF;
}

/* line 345, ../sass/_main.scss */
#signup-form-button input:hover {
  color: #424242;
}

/* line 349, ../sass/_main.scss */
#discussion-nav-container {
  position: relative;
  top: -120px;
  width: 80%;
  margin: auto;
  height: 200px;
}

/* line 357, ../sass/_main.scss */
#discussion-nav-options {
  width: 100%;
  background-color: #424242;
  height: 100px;
}

/* line 363, ../sass/_main.scss */
#join-or-post-container {
  height: 70px;
  width: 100%;
}

/* line 368, ../sass/_main.scss */
.new-leave {
  width: 100%;
}

/* line 372, ../sass/_main.scss */
.join {
  width: 100%;
}

/* line 376, ../sass/_main.scss */
#join-button {
  width: 20%;
  height: 100%;
}

/* line 381, ../sass/_main.scss */
#join-button:hover {
  background-color: #FF9400;
  color: #424242;
}

/* line 386, ../sass/_main.scss */
#post-button {
  height: 100%;
  width: 20%;
  white-space: pre-line;
  padding: 0px;
  font-size: 17pt;
  margin: 0;
}

/* line 395, ../sass/_main.scss */
#post-button:hover {
  background-color: #FF9500;
}

/* line 399, ../sass/_main.scss */
#leave-button {
  height: 100%;
  width: 10%;
  background-color: #FF0000;
  white-space: pre-line;
  padding: 0px;
  font-size: 12pt;
}

/* line 408, ../sass/_main.scss */
#leave-button:hover {
  color: #424242;
}

/* line 412, ../sass/_main.scss */
.discussion-btn {
  background-color: #FF9400;
  width: 25%;
  font-size: 20pt;
}

/* line 418, ../sass/_main.scss */
.discussion-btn:hover {
  background-color: #0097FF;
  color: white;
  font-size: 22pt;
}

/* line 424, ../sass/_main.scss */
.discussion-btn-active {
  background-color: #0097FF;
  color: white;
  width: 25%;
  font-size: 22pt;
}

/* line 431, ../sass/_main.scss */
.discussion-btn-active:hover {
  background-color: #0097FF;
  color: white;
  font-size: 22pt;
}

/* line 437, ../sass/_main.scss */
.blue-button {
  background-color: #0097FF;
  color: white;
  margin: auto;
}

/* line 443, ../sass/_main.scss */
.blue-button:hover {
  color: #424242;
}

/* line 447, ../sass/_main.scss */
#submit-button {
  margin-top: 10px;
}

/* line 451, ../sass/_main.scss */
#register-form {
  padding-top: 0px;
}

/* line 455, ../sass/_main.scss */
#new-discussion-greeting h1 {
  margin-top: 10px;
}

/* line 459, ../sass/_main.scss */
#discussion-main {
  margin-bottom: -150px;
}

/* line 463, ../sass/_main.scss */
#forum-heading-container {
  width: 80%;
  height: 50px;
  background-color: #E3F1FF;
  padding: 0px 15px 0px 15px;
  border-top-style: solid;
  border-top-width: 7px;
  border-top-color: #0097FF;
}

/* line 473, ../sass/_main.scss */
#members-heading-container {
  width: 80%;
  height: 50px;
  background-color: #E3F1FF;
  padding: 0px 15px 0px 15px;
  border-top-style: solid;
  border-top-width: 7px;
  border-top-color: #0097FF;
}

/* line 483, ../sass/_main.scss */
#members-heading-name {
  width: 50%;
}

/* line 487, ../sass/_main.scss */
#member-name {
  width: 50%;
}

/* line 491, ../sass/_main.scss */
#members-heading-age {
  width: 10%;
}

/* line 495, ../sass/_main.scss */
#member-age {
  width: 10%;
}

/* line 499, ../sass/_main.scss */
#members-heading-location {
  width: 40%;
}

/* line 503, ../sass/_main.scss */
#member-location {
  width: 40%;
}

/* line 507, ../sass/_main.scss */
.forum-heading {
  font-size: 15pt;
  font-family: 'Montserrat', sans-serif;
}

/* line 512, ../sass/_main.scss */
.topic {
  width: 60%;
}

/* line 516, ../sass/_main.scss */
.replies {
  width: 10%;
  text-align: center;
}

/* line 521, ../sass/_main.scss */
.views {
  width: 10%;
  text-align: center;
}

/* line 526, ../sass/_main.scss */
.last-post {
  width: 20%;
}

/* line 530, ../sass/_main.scss */
#forum-post {
  width: 80%;
  height: 70px;
  padding: 0px 15px 0px 15px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #424242;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
}

/* line 541, ../sass/_main.scss */
#member {
  width: 80%;
  height: 40px;
  padding: 0px 15px 0px 15px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #424242;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  margin: auto;
}

/* line 553, ../sass/_main.scss */
#forum-post-draft {
  width: 80%;
  height: 200px;
  padding: 0px 15px 0px 15px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #424242;
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  padding-top: 10px;
}

/* line 565, ../sass/_main.scss */
#form-post-draft-container {
  width: 80%;
}

/* line 569, ../sass/_main.scss */
#save-button-container {
  width: 20%;
  position: relative;
}

/* line 574, ../sass/_main.scss */
#save-button {
  height: 60%;
  width: 60%;
  margin: auto;
  margin-left: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 584, ../sass/_main.scss */
textarea.post_draft_content.form-control {
  height: 90px;
}

/* line 588, ../sass/_main.scss */
#forum-post-author-and-date {
  font-size: 9pt;
  font-style: italic;
}

/* line 593, ../sass/_main.scss */
#forum-post-last-post-author {
  font-size: 13pt;
}

/* line 597, ../sass/_main.scss */
#forum-post-last-post-date {
  font-size: 9pt;
  font-style: italic;
}

/* line 602, ../sass/_main.scss */
.single-forum-post:nth-child(even) {
  background-color: #FFF1E3;
}

/* line 606, ../sass/_main.scss */
.single-forum-post:nth-child(odd) {
  background-color: #E3E3E3;
}

/* line 610, ../sass/_main.scss */
.no_posts {
  width: 80%;
  font-family: 'Lato', sans-serif;
  font-size: 16pt;
  margin: auto;
  text-align: center;
  background-color: #FFF1E3;
  height: 80px;
  padding-top: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #424242;
}

/* line 624, ../sass/_main.scss */
#calendar {
  width: 80%;
  margin: auto;
}

/* line 629, ../sass/_main.scss */
#post-container {
  position: relative;
  top: -50px;
  width: 80%;
  margin: auto;
  font-family: 'Lato', sans-serif;
  white-space: pre-line;
}

/* line 638, ../sass/_main.scss */
#original-post {
  margin: auto;
  height: 180px;
  font-family: 'Lato', sans-serif;
  max-height: 150px;
  width: 100% !important;
  background-color: #424242;
  color: white;
}

/* line 648, ../sass/_main.scss */
#original-post-title-content-container {
  width: 85%;
  margin: auto;
  padding: 10px 10px 10px 20px;
  height: 150px;
}

/* line 655, ../sass/_main.scss */
#original-post-title {
  font-weight: 600;
  font-size: 19pt;
}

/* line 660, ../sass/_main.scss */
#original-post-content {
  max-height: 100px;
  overflow: scroll;
  height: 100px;
  padding: 5px;
  background-color: #E3E3E3;
  border-radius: 4px;
  color: black;
}

/* line 670, ../sass/_main.scss */
#original-post-rest-container {
  width: 15%;
  margin: auto;
}

/* line 675, ../sass/_main.scss */
.rest-div {
  margin: 5px;
}

/* line 679, ../sass/_main.scss */
#post-reply-button {
  margin: auto;
  height: 40px;
  width: 100%;
  min-height: 50px;
}

/* line 686, ../sass/_main.scss */
#reply-post-draft {
  height: 200px;
  width: 100%;
  padding: 2%;
}

/* line 692, ../sass/_main.scss */
#save-reply-button {
  background-color: #008000;
}

/* line 696, ../sass/_main.scss */
#save-reply-button:hover {
  color: white;
}

/* line 700, ../sass/_main.scss */
#reply-post {
  height: 125px;
  width: 100%;
  padding-left: 10%;
}

/* line 706, ../sass/_main.scss */
#reply-post-content {
  width: 85%;
  height: 100px;
  overflow: scroll;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  background-color: #E3E3E3;
}

/* line 718, ../sass/_main.scss */
#reply-post-rest-container {
  width: 15%;
}

/* line 722, ../sass/_main.scss */
.reply-div {
  margin: 15px;
}

/* line 726, ../sass/_main.scss */
#back-button {
  margin-left: 39%;
}
